body {
    font-family: "Arial Black", Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Setting purple background */
    background-color: #7b68ee;
}

/* Styling for the header section */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border: 5px solid #333;
    border-radius: 10px;
}

/* Styling for the main title */
h1 {
    margin: 0;
    color: #FF5733; /*  color */
    font-size: 36px; /*  font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /*  shadow */
}

/* Styling for the navigation bar */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    transform: rotate(15deg); /*  rotation */
}

nav ul li a {
    text-decoration: none;
    color: #FFC300; /*  color */
    font-weight: bold; /*  font weight */
}

/* Styling for the IMDb button */
.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.1); /*  scale */
}

/* Styling for sections */
.section {
    margin-top: 20px;
    padding: 20px;
    background-color: #FF5733; /*  background color */
    border-radius: 10px;
}

/* Styling for section headings */
h2 {
    color: #fff;
    font-size: 24px; /*font size */
}

/* Styling for cast list */
ul {
    list-style: none;
}

ul li {
    margin-bottom: 5px;
}

/* Styling for the image */
.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /*shadow */
}
